                <!-- Footer -->
                    <footer id="footer">
                        <section>
                            {% comment %}{% twitter https://twitter.com/hashiah maxwidth=600 limit=3 %}{% endcomment %}
                            some feature
                        </section>
                        <section class="split contact">
                            <section class="alt">
                                <h3>Address</h3>
                                <p>Parda tn 4, Kesklinna linnaosa<br />
                                Tallinn, Harju maakond, 10151</p>
                            </section>
                            <section>
                                <h3>Phone</h3>
                                <p><a href="#">(000) 000-0000</a></p>
                            </section>
                            <section>
                                <h3>Email</h3>
                                <p><a href="mailto: {{ 'info@hashiah.com' | encode_email }}">info@hashiah.com</a></p>
                            </section>
                            <section>
                                <h3>Social</h3>
                                <ul class="icons alt">
                                    <!--<li><a href="//twitter.com/hashiah" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>-->
                                    <li><a href="//facebook.com/hashiah" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                                    <!--<li><a href="//instagram.com/hashiah" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>-->
                                    <li><a href="//github.com.com/hashiah" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                                </ul>
                            </section>
                        </section>
                    </footer>

                <!-- Copyright -->
                    <div id="copyright">
                        <ul><li>&copy; Hashiah</li><li>Design: <a href="//html5up.net">HTML5 UP</a></li></ul>
                    </div>
